
.admin_reservations {
  .equipment_row {
    height: 40px;
    margin-bottom: 5px;

    a.remove_link {
      float: right;
    }

    img {
      float: left;
      margin-right: 7px;
    }

    h3 {
      line-height: 1.2em;
      font-size: 1.2em;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }
  }
}
