@font-face {
    font-family: 'lato_blackitalic';
    src: url('lato-blaita-webfont.eot');
    src: url('lato-blaita-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-blaita-webfont.woff') format('woff'),
         url('lato-blaita-webfont.ttf') format('truetype'),
         url('lato-blaita-webfont.svg#lato_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
