.admin_reservations_new,
.admin_reservations_edit,
.admin_reservations_show,
.reservations_new,
.reservations_edit,
.reservations_show {
  .unit-row {
    min-height: 40px;
    border-top: solid 1px #CCC;
    margin-bottom: 10px;
    padding: 2px 0;
    vertical-align: middle;
    border-bottom: solid 1px #CCC;

    &.unit-unavailable {
      background: rgba(203, 0, 0, .1);
      border-color: rgba(205, 0, 0, .3);
    }

    -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0, .1);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0, .1);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0, .1);

    .unit-thumb {
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 10px;
    }

    .control-group {
      margin-bottom: 0px;

      .controls {
        margin-top: 7px;
        margin-left: 65px;
      }

      .control-label {
        display: none;
      }
    }

    .remove_nested_fields {
      float: right;
      margin: 9px;
    }

    h2 {
      margin: 0;
      padding: 0;
      line-height: 1.1em;
      font-size: 1.2em;
    }

    h5 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      color: #777;
      font-size: 0.8em;
    }
  }
}
