.reservations,
.admin_reservations {
  .start-here {
    display: inline;
    margin-right: 1.1em;

    text-transform: uppercase;
    font-weight: bold;
    color: #aaa;
    font-size: 0.9em;

    i {
      margin-left: 0.4em;
    }
  }

  .emphasize-time {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .reservation-form-outer {
    position: relative;

    .loader {
      display: none;
      position: absolute;
      width: 120px;
      height: 120px;
      background: white;
      left: 50%;
      top: 50%;
      margin-left: -60px;
      margin-top: -60px;

      font-size: 5em;
      font-family: Century Gothic, sans-serif;
      text-align: center;
      line-height: 1.1em;
    }
  }

  // This is ridiculous. Makes the "today" highlighting a pressed button when selected.
  // Should be default behavior, this is a hack.
  .ui-datepicker .ui-datepicker-calendar a.ui-state-highlight.ui-state-active {
    border: 1px solid #999999;
    background: #999999 url(ui-bg_inset-hard_75_999999_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
  }

  .unit-row {
    min-height: 40px;
    border-top: solid 1px #CCC;
    margin-bottom: 10px;
    padding: 2px 0;
    vertical-align: middle;
    border-bottom: solid 1px #CCC;

    -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0, .1);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0, .1);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0, .1);

    .unit-thumb {
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 10px;
    }

    .control-group {
      margin-bottom: 0px;

      &.error {
        background: rgba(255, 0, 0, .1);

        a.chzn-single {
          box-shadow: 0 0 0px 1px red;
          -webkit-box-shadow: 0 0 0px 1px red;
          -moz-box-shadow: 0 0 0px 1px red;
        }
      }

      .controls {
        margin-top: 7px;
        margin-left: 65px;
      }

      .control-label {
        display: none;
      }
    }

    .remove_nested_fields {
      float: right;
      margin: 9px;
    }

    h2 {
      margin: 0;
      padding: 0;
      line-height: 1.1em;
      font-size: 1.2em;
    }

    h5 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      color: #777;
      font-size: 0.8em;
    }
  }

  .pending-reservation-warning {
    margin-right: 15%;

    .alert {
      border: solid 1px #555;
      color: #726B39;
    }
  }
}
