@import "_brand_colors";

body {
  background: $weberBlue;
  color: black;

  h1 {
    font-family: lato_blackitalic;
    color: $weberCream;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.07em;
  }

  h2 {
    font-size: 1.6em;
    letter-spacing: 0.04em;
  }

  .navbar {
    .navbar-inner {
      padding: 7px 0;

      .container {
        height: 50px;

        img.logo {
          float: left;
          margin-right: 2em;
        }

        ul.nav {
          margin-top: 15px;
          vertical-align: bottom;

          li {
            a {
              background: $weberCream;
              border-left: solid 1px #DDD;
              border-right: solid 1px #DDD;
              border-top: solid 1px #DDD;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }

  h1.page-title {
    margin: 20px 0 5px;
  }

  .main {
    background: $weberBluishWhite;
  }

  .gasket {
    margin: 0 20px;
  }
}
