@import "_brand_colors";

body {
  background: $weberBlue;
  color: black;

  // We don't like underlines on our links.
  a {
    text-decoration: none !important;
  }

  h1 {
    font-family: lato_blackitalic;
    color: $weberCream;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.07em;
  }

  h2 {
    font-size: 1.6em;
    letter-spacing: 0.04em;
  }

  .navbar {
    position: static;

    .navbar-inner {
      padding: 7px 0 0;

      .container {
        height: 50px;

        img.logo {
          float: left;
          margin-right: 2em;
        }

        .user-bar {
          margin-right: 8px;
        }

        ul.nav {
          margin-top: 15px;
          vertical-align: bottom;

          li {
            a {
              background: $weberCream;
              border-left: solid 1px #DDD;
              border-right: solid 1px #DDD;
              border-top: solid 1px #DDD;
              margin-right: 4px;

              &.nav-current {
                box-shadow: $weberBlue 0px -3px 0px inset;
              }
            }
          }
        }
      }
    }
  }

  .tooltip-inner {
    width: 200px;
  }

  .upper_fade {
    font-weight: bold;
    text-transform: uppercase;
    color: #7B878C;
    font-size: 0.9em;
  }

  h1.page-title {
    margin: 20px 0 5px;
  }

  .main {
    background: $weberBluishWhite;
  }

  &#smallcenter {
    .main {
    }
  }

  // Show
  .ptable {
    p strong {
      display: inline-block;
      width: 50%;
    }

    &.ptable-40 p strong {
      width: 40%;
    }

    &.ptable-30 p strong {
      width: 30%;
    }
  }

  // Index
  .table {
    th {
      border-bottom: 3px inset #BBB;
      background-color: inherit !important;
      padding: 3px 10px;
      border-left: dotted 1px #AAA;
      border-right: dotted 1px #AAA;
      text-transform: uppercase;
      color: #666;
      font-size: 0.85em;

      a {
        color: #666;

        &.current {
          color: $weberTeal;
        }

        i {
          float: right;
          text-decoration: none;
          opacity: .5;
        }
      }
    }
  }

  // Bootstrap pagination styling
  .pagination {
    margin: 0;

    a {
      line-height: 28px;
    }
  }

  // Jquery UI adjustments
  .ui-datepicker {
    font-size: 0.9em;
  }

  .error .ui-datepicker {
    border: solid 1px #A5515E;
  }

  .gasket {
    margin: 0 20px;
  }

  .liner {
    padding: 10px;
  }
}
